<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fooddelivery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodDelivery">
        <activity
            android:name=".Shipper.ShipperActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Restaurant.RestaurantAddingMenuActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Restaurant.RestaurantAddingPromotionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Restaurant.RestaurantPromotionDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Restaurant.RestaurantDishesManagementActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgcrJbS9BYCPw1aa3ksmVpYhqTbjyWp58" />

        <activity
            android:name=".Customer.FragmentPromotion"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".SignInEnterCode"
            android:exported="false" />
        <activity
            android:name=".SignUpSetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpEnterCodeActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Restaurant.RestaurantHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordSetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordEnterCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Shipper.SeeEarningsActivity"
            android:exported="false" />
        <activity
            android:name=".Restaurant.RestaurantMenuActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".Restaurant.RestaurantResManagementActivity"
            android:exported="false" />
        <activity
            android:name=".Restaurant.RestaurantMenuManagementActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Restaurant.RestaurantStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Restaurant.RestaurantDishDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.PopularInYourAreaActivity"
            android:exported="false" />
        <activity
            android:name=".Restaurant.RestaurantAddingDishesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>